body{
	padding:0px;
	margin: 0px;
}

.header{
	width: 100%;
	top:5px;
	color: white;
	background-color:  #196666;
	text-align: center;
}

form{
	width: 40%;
	padding: 20px;
	border: 1px solid  #196666;
	margin: 30px auto;

}

textInput{
	margin-top: 2px;
	height: 28px;
	border: 1px solid  #196666;
	font-size: 16px;
	padding: 1px;
	width: 100;

}
a.w3-closenav.w3-large{
	all:default;
	background-color: #009688;
}